// Fonts
@import url('https://fonts.googleapis.com/css?family=Prata:regular&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900&display=swap');

// Global styles
body {
    background: $beige;
    background-image: url('../assets/noise-bg.png');
    color: $black;
    font-family: $montserrat;
    font-size: $text;
} 