// Colors
$black: #000;
$beige: #FAEED1;
$light-beige: #FCF6E9;
$gray: #AFA793;

// Typography
// Fonts
$prata: 'Prata', serif;
$montserrat: 'Montserrat', sans-serif;

// Font sizes
$main-headline: 60px;
$main-headline-mobile: 40px;
$secondary-headline: 20px;
$text: 15px;
$small-text: 13px;

// Spacing
$spacing-xs: 5px;
$spacing-s: 8px;
$spacing-m: 15px;
$spacing-l: 20px;
$spacing-xl: 30px;
$spacing-xxl: 50px;

// Border
$border-radius: 2px; 