@import '../../styles/variables';
@import '../../styles/mixins';

.buttonWrapper {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: $spacing-xs;
    transition: all .5s ease-in-out;

    &:hover {
        opacity: 0.5;
    }

    .buttonText {
        text-transform: uppercase;
    }
}
